body {
  background: #292929;
  color: #c9c9c9;
  text-align: center;
  margin: 0;
  font-family: 'Piedra', cursive;
}

ul{
  list-style-type: none;
}
a{
  font-size: 200%;
}
a:link, a:visited{
  color: darkslateblue;
  text-decoration: none;
}

a:hover{
  color: darkred;
  text-decoration: none;
}
/* . means class */
.hero img {
  border-radius: 100%;
  width:30%;
  height:30%;
}
.hero-img {
  background:white;
  width:26vw;
  height:26vw;
  display: inline-block;
  background-size: 100%;
  background-position: 0% 50%;
  border-radius: 100%;
  border: 1vw solid #c9c9c9;
  margin: 0 1vw;
}

.hero-img.normal {
  background-image: url("../smile.jpg");
} 

/*  . is for class space is for nested element*/
.hero h1 {
  font-size: 10vw;
  letter-spacing: 0.5vw;
  margin-bottom: 0;
  margin-top: 1vw;
}
.hero p{
  font-size: 3vw;
  margin-top: 1vw;
}
.hero{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}