body {
  background: darkcyan;
  color:  gold;
  text-align: center;
  margin: 0;
}
/* . means class */
.hero img {
  border-radius: 100%;
  width:30%;
  height:30%;
}
.hero-img {
  background:white;
  width:26vw;
  height:26vw;
  display: inline-block;
  background-size: 100%;
  background-position: 0% 50%;
  border-radius: 100%;
  border: 2vw solid gold;
  margin: 0 1vw;
}
.hero-img.monkey{
  background-image: url("monkey.jpg");
}
.hero-img.normal{
  background-image: url("normal.JPG")
}
.hero-img.bonk{
  background-image: url("bonk.PNG")
}